finished:
###################################
vpc
igw
subnets
ec2 - both
eks
iam roles - nodes, ec2, cluster

vpc
igw
subnets
routes:
    from outside to alb
    from alb to ec2 and to eks
    from ec2 to eks
    from eks to nodes
    from nodes (or eks) to nat gw and igw
    from nat gw and igw to outside
nat
alb


ssm

ec2:
    gitlab:
        setup
        config
        data backup
    jenkins:
        setup
        config
        data backup

eks:
    create a cluster

iam roles:
    role for cluster
    role for ec2
    role for nodes
    role for terraform

vault
    webhook from gitlab
    ssh keys for:
        jenkins - jenkins agent
        jenkins - gitlab
        jenkins agent - dockerhub
        jenkins agent - slack

        ssm - gitlab
        ssm - jenkins
        ssm - k8s

